{%-
  set classes = [
    'control-label',
    title_display == 'after' ? 'option',
    title_display == 'invisible' and not (is_checkbox or is_radio) ? 'sr-only',
    required ? 'js-form-required',
    required ? 'form-required',
  ]
-%}
<label{{ attributes.addClass(classes) }}>{{ legend.title }}</label><br>
<div class="row"><div class="col-md-2 option-radio">{{ element.0 }}</div><div class="col-md-2 option-radio">{{ element.1 }}</div></div>