<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div style="height: 0.5cm; border-bottom: 2px solid black; "></div>
<table style="width: 100%;">
    <tr>
        <td style="font-size: 7pt; font-family: Calibri, sans-serif; line-height: 9pt;">
            APEEE Services<br>
            Représentation des parents<br>
            Schola Europea - Ecole européenne de Bruxelles 1<br>
            Avenue du Vert Chasseur 46 - 1180 Uccle
        </td>
    </tr>
</table>
</body>
</html>